/* Mobile First UI Design */
.quoteWrapper {
  margin: 0;
  padding: 0;
  quotes: none;
  border: none;
}

.customWrapper {
  @apply my-[2rem] rounded flex flex-col justify-start items-start p-0 m-0;
}

.customWrapper::before {
}

.customWrapper::after {
}

.quoteIcon {
  transform: scaleX(-1) scaleY(-1);
  @apply p-0 m-0 -ml-[0.625rem] text-[72px] text-[#f0705a];
}
